.app{
  background-color: #393E46;
  font-family: 'Roboto', sans-serif;
}
.nav {
  background-color: #222831;
  display: flex;justify-content: center;
  margin-bottom: 50px;
}
.nav a {
  margin-left: 10px;
  text-decoration: none;
  color: #EEEEEE;
  padding: 20px;
}
.active{
    background-color: #00ADB5;
}
